//-li
  class='item-aream-comum'
  ng-class="{'selected': seAreaComumEstahSelecionada(areaComum.id), 'pre-selected': dropdown.activeIdx == $index}"
  ng-repeat="areaComum in listaAreaComumComBusca()"
  ng-click="addRemoveAreaComum(areaComum)"

  <div class="sc-input-group">
    <div class="sc-tag-box box-input-and-tags-form-agendamento" ng-keydown="areasComunsDoAgendamento.navLista($event)">
      <span class="sc-tag ng-animation-show" ng-class="boxAreaComumTagColor(id, $last)" ng-repeat="id in agendamento.areas_comuns_ids">
        <span>{{areasComuns.find(id).nome}}</span>
        <span ng-click="areasComunsDoAgendamento.removeAreaComum(id)" class='sc-tag-remove sc-icon sc-icon-fechar-1'></span>
      </span>

      <input ng-model="buscarAreaComum" type="text" ng-focus="dropdown.open()" />
    </div>
    <div class="sc-btn sc-btn-green sc-icon sc-icon-fw sc-icon-mais-1" ng-click="formAreaComum.open()" ng-if="tela.permite.gerenciar_area_comum">
    </div>
  </div>
.sc-p-xxl
  p Cliente selecionado: {{cliente.title}}

  .box-dropdown
    input(type="text" ng-keydown="navLista($event)" ng-focus="dropdown.open()")
    ul(ng-show="dropdown.opened").ng-animation-slider#lista
      li(ng-repeat="item in lista" ng-class="{'pre-selected': dropdown.activeIdx == $index}" ng-click="selecione(item)")
        | {{$index}} - {{item.title}}
