.box-dropdown {
  width: 12.8125em;
  .pre-selected {
    background: #ccc;
  }
  ul {
    height: 15em;
    overflow-y: auto;
    overflow-x: hidden;
    input { width:100%; }
    li {
      height: 2em;
      line-height: 2em;
      white-space: nowrap;
    }
  }
}
